.fastx-markdown-editor-playground-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  .tool-wrapper {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .markdown-editor-wrapper {
    // flex: 1;
    // // position: relative;
    // .editor-wrapper {
    //   // position: relative;
    //   // z-index: 1;
    //   // left: 0;
    //   // top: 0;
    //   width: 100%;
    //   height: 100%;
    //   overflow: hidden;
    // }
  }
}
